body {
    font-family: 'Special Elite', cursive;
    background-color: lightsalmon;
}

.header_div {
    background: white;
    color: black;
    width: 90%;
    border-radius: 8px;
    margin-top: 0px;
    box-shadow: 10px 10px 10px grey;
}

.header_div img {
    width: 200px;
    border-radius: 8px;
}

.main_div {
    background-color: yellow;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 5px black;
    text-align: left;
    border-radius: 10px;
    margin-bottom: 55px;
    margin-right: 60px;
    box-shadow: 10px 10px 10px grey;
}

.main_div img{
    width: 300px;
    height: 300px;
}

.main_div label {
    width: 310px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px white;
    border-radius: 10px;
    font-size: 16px;
}

.main_div label1 {
    width: 310px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px white;
    border-radius: 10px;
    font-size: 16px;
    color:midnightblue;
}

.main_div h8 {
    width: 310px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px white;
    border-radius: 10px;
    font-size: 18px;
}

#camera,
#result {
    border: 2px solid white;
    width: 310px;
    height: 310px;
    box-shadow: 5px white;
}

.main_div button {
    width: 300px;
    font-size: 18px;
    box-shadow: 5px white;
    border: 1px solid;
    margin-top: 20px;
}


.footer_div {
    margin-bottom: 50px;

}

.footer_div h4 {
    background-color: white;
    border-radius: 10px 15px 20px 25px;
    padding: 10px;
    box-shadow: 5px white;
}

.footer_div img {
    width: 90px;
}

.copy_right_footer {
    position: fixed;
    color: grey;
    bottom: 0px;
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.result_div {
    background-color: grey;
    text-align: center;
    border-radius: 10px;
}

.final { 
margin-bottom: 60px;
}